.food-image {
    height: 200px; 
    width: 100%;
    object-fit: cover; 
    border-radius: 4px;
}

.food-card {
    width: 300px;
    height: 450px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.food-card:hover {
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}


/* Food Section styling */

.food-image-section {
  height: 10rem;        
  width: 100%;
  object-fit: cover;
  border-radius: 0.25rem; 
}

.food-card-section {
  width: 18.75rem;       
  height: 21.875rem;     
  border-radius: 0.5rem; 
  overflow: hidden;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.food-card-section:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25); 
}

@media (min-width: 768px) {
  .food-image-section {
    width: 100%;
    height: 10rem;
  }
}



/* Image Loading */
/* Fade-in animation for image */
.image-hidden {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 1.1s ease-in;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-text {
  flex-grow: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}