* {
    box-sizing: border-box;
}

.parent {
    width: 800px;
    background-color: rgb(255, 0, 0);
}

.one {
    background-color: aquamarine;
    width: 50%;
    padding: 10px;
    border: 10px solid teal;
    color: blueviolet;
}

.two {
    background-color: blueviolet;
    padding: 10px;
    border: 5px solid black;
    margin: 40px;
    outline: 10px solid greenyellow;

    width: 500px;
    height: 500px;
    border-radius: 50%;
}