<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{/common/fragment::head}"></head>

<body>
  <header data-th-replace="~{/common/fragment::header}"></header>

  <section class="container mt-3 shadow-lg rounded-3 p-3">
    <form action="/add-blog" method="post">
      <div class="mb-3">
        <label for="heading" class="form-label">heading</label>
        <input type="text" class="form-control" id="heading" name="heading">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea type="text" class="form-control" id="description" rows="3" name="description"></textarea>
      </div>

      <div>
        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <a href="/" class="btn btn-primary">Back</a>
      </div>
    </form>
  </section>
</body>

</html>