<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{/common/fragment::head}"></head>

<body>
  <header data-th-replace="~{/common/fragment::header}"></header>

  <section class="container mt-3 shadow-lg rounded-3 p-3" data-th-object="${blog}">
    <form action="/update-blog" method="post">
      <input hidden data-th-value="*{id}" name="id">

      <div class="mb-3">
        <label for="heading" class="form-label">heading</label>
        <input type="text" class="form-control" id="heading" name="heading" data-th-value="*{heading}">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea type="text" class="form-control" id="description" rows="3" name="description" data-th-text="*{description}"></textarea>
      </div>

      <div>
        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <a data-th-replace="~{/common/fragment::globalBtn('Back', '/')}"></a>
      </div>
    </form>
  </section>
</body>

</html>