@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Rubik+Iso&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  /* font-style: normal; */
}


body::-webkit-scrollbar {
  display: none;
}


/* for admin */
#wrapper {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
    z-index: 1;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

.fade-slide-in {
  animation: fadeSlideIn 0.5s ease-out forwards;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}