<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h3>Login credentials</h3>
  <!-- <p th:text="${credentials}"></p> -->

  <!-- <p th:text="${credentials[0]}"></p>
  <p th:text="${credentials[1]}"></p>
  <p th:text="${credentials[2]}"></p> -->

  <div th:each="cred : ${credentials}">
    <h4>Username: <span th:text="${cred.username}"></span></h4>
    <h4>Password: <span th:text="${cred.password}"></span></h4>
  </div>

</body>

</html>