/* html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
} */

.login-container {
    background-image: url("/login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.register-container {
    background-image: url("/login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

