.login-container {
    background-image: url("/login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 91vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.register-container {
    background-image: url("/login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
    justify-content: center;
}