/* element selector */
/* div {
    background-color: aqua;
} */

/* class selector */
/* .box {
    background-color: yellow;
} */

/* id selector */
/* #intro {
    background-color: yellowgreen;
} */



